{% extends 'blog/base.html' %}
{# просто заполняем блоки #}
{% block title %}
Contacts
{% endblock %}
{% block content %}
    <h1>
        For moderation, user registration, and administration queries, please contact the forum administrators at:
    </h1>
    <p>
        <b>
            <ul>
                <li>&#097;&#100;&#109;&#105;&#110;&#064;&#108;&#105;&#110;&#117;&#120;&#109;&#105;&#110;&#116;&#046;&#099;&#111;&#109;</li>
            </ul>
        </b>
    </p>

<p>To seek support and assistance, use the forums or the chat room:</p>
	<ul>
	<li>Forums: <a href="http://forums.linuxmint.com">http://forums.linuxmint.com</a></li>
	<li>Chatroom: launch "Hexchat" (or "Konversation" in KDE) from the Linux Mint menu, or connect your IRC client to <b>#linuxmint-help</b> on <b>irc.spotchat.org</b>.</li>
	</ul>
</p>

<p>For everything else, please contact the development team by email at: <b><ul><li>&#x72;&#000111;&#x6f;&#000116;&#64;&#x6c;&#105;&#110;&#x75;&#x78;&#109;&#x69;&#x6e;&#116;&#x2e;&#x63;&#x6f;&#000109;</ul></li></b></p>

{% endblock %}